.breadcrumb-container{
    background-image: url('../images/ab-bg-1.png');
    background-size: 100% 100%;
 

    .row{
        height: 700px;
        display: flex;
        justify-content: start;
        align-items: flex-end;
        .col-12{
            padding-left: 20%;
            background-color: rgba(7, 7, 7, 0.299);
            height: 200px;
            display: flex;
            align-items: flex-end;
            ul{
                width: fit-content;
                margin-bottom: 48px;
                li{
                    a{
                        color: white;
                    }
                    i{
                        margin: auto 14px ;
                    }
                }
            }

        }
    }
}

@media (max-width:768px) {
    .breadcrumb-container{
        background-image: url('../images/ab-bg-1.png');
        background-size: 100% 100%;
     
    
        .row{
            height: 300px;
            display: flex;
            justify-content: start;
            align-items: flex-end;
            .col-12{
                padding-left: 20%;
                background-color: rgba(7, 7, 7, 0.299);
                height: 200px;
                display: flex;
                align-items: flex-end;
                ul{
                    width: fit-content;
                    margin-bottom: 48px;
                    li{
                        a{
                            color: white;
                        }
                        i{
                            margin: auto 14px ;
                        }
                    }
                }
    
            }
        }
    }
}

@media (max-width:400px) {
    .breadcrumb-container{
        background-image: url('../images/ab-bg-1.png');
        background-size: 100% 100%;
     
    
        .row{
            height: 180px;
            display: flex;
            justify-content: start;
            align-items: flex-end;
            .col-12{
                padding-left: 20%;
                background-color: rgba(7, 7, 7, 0.299);
                height: 100px;
                display: flex;
                align-items: flex-end;
                ul{
                    width: fit-content;
                    margin-bottom: 20px;
                    li{
                        a{
                            color: white;
                        }
                        i{
                            margin: auto 14px ;
                        }
                    }
                }
    
            }
        }
    }
}

.math-container{
    box-shadow: 0px 4px 4px #75D1EA;
    padding-bottom: 40px;
    .container{
        .row{
            .imgBox{
                img{
                 height : 350px;
                }
            }
        }
    }
}

.science-container{
    box-shadow: 0px 4px 4px #FD7BA9;
    padding-bottom: 40px;
    .container{
        .row{
            .imgBox{
                img{
                 height : 350px;
                }
            }
        }
    }
}

.skill-container{
    box-shadow: 0px 4px 4px #C86497;
    padding-bottom: 40px;
    .container{
        .row{
            .imgBox{
                img{
                 height : 350px;
                }
            }
        }
    }

}

.about-mathcode-container{
    .container{
        .row{
            .imgBox{
                img{
                 height : 350px;
                }
            }
        }
    }
}



@media (max-width:400px) {
    .math-container{
        box-shadow: 0px 4px 4px #75D1EA;
        padding-bottom: 40px;
        .container{
            .row{
                .imgBox{
                    img{
                     height : 150px;
                    }
                }
            }
        }
    }
    
    .science-container{
        box-shadow: 0px 4px 4px #FD7BA9;
        padding-bottom: 40px;
        .container{
            .row{
                .imgBox{
                    img{
                     height : 150px;
                    }
                }
            }
        }
    }
    
    .skill-container{
        box-shadow: 0px 4px 4px #C86497;
        padding-bottom: 40px;
        .container{
            .row{
                .imgBox{
                    img{
                     height : 150px;
                    }
                }
            }
        }
    
    }

    .about-mathcode-container{
        .container{
            .row{
                .imgBox{
                    img{
                        height : 150px;

                    }
                }
            }
        }
    }
}











/* faq section */


.faq-container{
    .container{
        .row{
            .imgBox{
                img{
                 height : 685px;
                }
            }
        }
    }
}

.our-story-faq-container{
    .row{
        .videoBox{
            position: relative;
            img,video{
                width: 456px;
                height: 396px;
                border-radius: 10px;
            }

            button{
                position: absolute;
                top: 45%;
                left: 45%;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px #9C9C9C;
                height: 51px;
                width: 51px;
                border: 0;
                border-radius: 50%;
                display: none;
                i{
                    color: #FF7731;
                }
            }

        }

        .videoBox:hover{
            button{
                display: block !important;
               }
        }
    }
}

@media (max-width:768px) {

    
.faq-container{
    .container{
        .row{
            .imgBox{
                img{
                 height : 400px;
                }
            }
        }
    }
}

    .our-story-faq-container{
        .row{
            .videoBox{
                position: relative;
                img,video{
                    width: 100%;
                    height: 396px;
                    border-radius: 10px;
                }
    
                button{
                    position: absolute;
                    top: 45%;
                    left: 45%;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px #9C9C9C;
                    height: 51px;
                    width: 51px;
                    border: 0;
                    border-radius: 50%;
                    i{
                        color: #FF7731;
                    }
                }
    
                img:hover,video:hover{
                   button{
                    display: block;
                   }
                }
            }
        }
    }
}

@media (max-width:400px) {

    
    .faq-container{
        .container{
            .row{
                .imgBox{
                    img{
                     height : 200px;
                    }
                }
            }
        }
    }
    
        .our-story-faq-container{
            .row{
                .videoBox{
                    position: relative;
                    img,video{
                        width: 100%;
                        height: 200px;
                        border-radius: 10px;
                    }
        
                    button{
                        position: absolute;
                        top: 45%;
                        left: 45%;
                        background: #FFFFFF;
                        box-shadow: 0px 4px 4px #9C9C9C;
                        height: 51px;
                        width: 51px;
                        border: 0;
                        border-radius: 50%;
                        i{
                            color: #FF7731;
                        }
                    }
        
                    img:hover,video:hover{
                       button{
                        display: block;
                       }
                    }
                }
            }
        }
    }