.breadcrumb-container {
  background-image: url("../images/ab-bg-1.png");
  background-size: cover;
  background-position: center center;
}

.breadcrumb-container .row {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.breadcrumb-container .row .col-12 {
  padding-left: 20%;
  background-color: rgba(7, 7, 7, 0.299);
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.breadcrumb-container .row .col-12 ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 48px;
}

.breadcrumb-container .row .col-12 ul li a {
  color: #FF7731;
}

.breadcrumb-container .row .col-12 ul li i {
  margin: auto 14px;
}

@media (max-width: 768px) {
  .breadcrumb-container {
    background-image: url("../images/ab-bg-1.png");
  }
  .breadcrumb-container .row {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .breadcrumb-container .row .col-12 {
    padding-left: 20%;
    background-color: rgba(7, 7, 7, 0.299);
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .breadcrumb-container .row .col-12 ul {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 48px;
  }
  .breadcrumb-container .row .col-12 ul li a {
    color: white;
  }
  .breadcrumb-container .row .col-12 ul li i {
    margin: auto 14px;
  }
}

@media (max-width: 400px) {
  .breadcrumb-container {
    background-image: url("../images/ab-bg-1.png");
  }
  .breadcrumb-container .row {
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .breadcrumb-container .row .col-12 {
    padding-left: 20%;
    background-color: rgba(7, 7, 7, 0.299);
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .breadcrumb-container .row .col-12 ul {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;
  }
  .breadcrumb-container .row .col-12 ul li a {
    color: white;
  }
  .breadcrumb-container .row .col-12 ul li i {
    margin: auto 14px;
  }
}

.math-container {
  -webkit-box-shadow: 0px 4px 4px #75D1EA;
          box-shadow: 0px 4px 4px #75D1EA;
  padding-bottom: 40px;
}

.math-container .container .row .imgBox img {
  height: 350px;
}

.science-container {
  -webkit-box-shadow: 0px 4px 4px #FD7BA9;
          box-shadow: 0px 4px 4px #FD7BA9;
  padding-bottom: 40px;
}

.science-container .container .row .imgBox img {
  height: 350px;
}

.skill-container {
  -webkit-box-shadow: 0px 4px 4px #C86497;
          box-shadow: 0px 4px 4px #C86497;
  padding-bottom: 40px;
}

.skill-container .container .row .imgBox img {
  height: 350px;
}

.about-mathcode-container .container .row .imgBox img {
  height: 350px;
}

@media (max-width: 400px) {
  .math-container {
    -webkit-box-shadow: 0px 4px 4px #75D1EA;
            box-shadow: 0px 4px 4px #75D1EA;
    padding-bottom: 40px;
  }
  .math-container .container .row .imgBox img {
    height: 150px;
  }
  .science-container {
    -webkit-box-shadow: 0px 4px 4px #FD7BA9;
            box-shadow: 0px 4px 4px #FD7BA9;
    padding-bottom: 40px;
  }
  .science-container .container .row .imgBox img {
    height: 150px;
  }
  .skill-container {
    -webkit-box-shadow: 0px 4px 4px #C86497;
            box-shadow: 0px 4px 4px #C86497;
    padding-bottom: 40px;
  }
  .skill-container .container .row .imgBox img {
    height: 150px;
  }
  .about-mathcode-container .container .row .imgBox img {
    height: 150px;
  }
}

/* faq section */
.faq-container .container .row .imgBox img {
  height: 685px;
}

.our-story-faq-container .row .videoBox {
  position: relative;
}

.our-story-faq-container .row .videoBox img, .our-story-faq-container .row .videoBox video {
  width: 456px;
  height: 396px;
  border-radius: 10px;
}

.our-story-faq-container .row .videoBox button {
  position: absolute;
  top: 45%;
  left: 45%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px #9C9C9C;
          box-shadow: 0px 4px 4px #9C9C9C;
  height: 51px;
  width: 51px;
  border: 0;
  border-radius: 50%;
  display: none;
}

.our-story-faq-container .row .videoBox button i {
  color: #FF7731;
}

.our-story-faq-container .row .videoBox:hover button {
  display: block !important;
}

@media (max-width: 768px) {
  .faq-container .container .row .imgBox img {
    height: 400px;
  }
  .our-story-faq-container .row .videoBox {
    position: relative;
  }
  .our-story-faq-container .row .videoBox img, .our-story-faq-container .row .videoBox video {
    width: 100%;
    height: 396px;
    border-radius: 10px;
  }
  .our-story-faq-container .row .videoBox button {
    position: absolute;
    top: 45%;
    left: 45%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px #9C9C9C;
            box-shadow: 0px 4px 4px #9C9C9C;
    height: 51px;
    width: 51px;
    border: 0;
    border-radius: 50%;
  }
  .our-story-faq-container .row .videoBox button i {
    color: #FF7731;
  }
  .our-story-faq-container .row .videoBox img:hover button, .our-story-faq-container .row .videoBox video:hover button {
    display: block;
  }
}

@media (max-width: 400px) {
  .faq-container .container .row .imgBox img {
    height: 200px;
  }
  .our-story-faq-container .row .videoBox {
    position: relative;
  }
  .our-story-faq-container .row .videoBox img, .our-story-faq-container .row .videoBox video {
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  .our-story-faq-container .row .videoBox button {
    position: absolute;
    top: 45%;
    left: 45%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px #9C9C9C;
            box-shadow: 0px 4px 4px #9C9C9C;
    height: 51px;
    width: 51px;
    border: 0;
    border-radius: 50%;
  }
  .our-story-faq-container .row .videoBox button i {
    color: #FF7731;
  }
  .our-story-faq-container .row .videoBox img:hover button, .our-story-faq-container .row .videoBox video:hover button {
    display: block;
  }
}
/*# sourceMappingURL=about.css.map */