.banner-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.34),rgba(0, 0, 0, 0.34)),url('../images/slide1.png');
    background-size: cover;
    .container{
        height: 600px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 60px;
        .row{

            .col-12{
               
               ul{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 800px;
                text-align: center;
               }
            }
        }
    }
}
@media (max-width:768px) {
    .banner-container{
        background-size: 100% 100%;

        .container{
            height: 300px !important;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 19px;
            .row{
    
                .col-12{
                   
                   ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 250px;
                    text-align: center;

                    li{
                        strong{
                            font-weight: 800;
                            font-size: 16px;
                            line-height: 12px;
                        }
                        
                    }
                    .font-14{
                        font-weight: 400;
                        font-size: 10px !important;
                        line-height: 10px;
                    }
                   }
                }
            }
        }
    
    }
    
}

@media (max-width:400px) {
    .banner-container{
        background-size: 100% 100%;

        .container{
            height: 180px !important;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 19px;
            .row{
    
                .col-12{
                   
                   ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 190px;
                    text-align: center;

                    li{
                        strong{
                            font-weight: 800;
                            font-size: 10px;
                            line-height: 12px;
                        }
                        
                    }
                    .font-14{
                        font-weight: 400;
                        font-size: 6px !important;
                        line-height: 7px;
                    }
                   }
                }
            }
        }
    
    }
    
}


.points-container{
    // background-image: url('../images/hm-bg-1.png');
    background-color: #FBBA51;;
    // background-size: 100% 110%;
    margin-bottom: 0px !important;
    
    .container{
        .row{
            display: flex;
            align-items: center;
            height: 458px;
            ul{

            }

            img{
                width: 326.73px;
                height: 276px;
            }

        }
    }

}

.inner-container{
    height: 543px;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 1050px;
    background-color: #0DFF75;
}


@media (max-width:768px) {
    .points-container{
        // background-image: url('../asset/Group\ 2097.png');
        // background-size: 100% 110%;
        padding: 20px !important;


        .container{
            .row{
                height: fit-content !important;
                ul{
                    li{
                        list-style: none;
                        text-align: center;
                    }
                }
        
                img{
                    height: 200px;
                    width: 200px;
                }
    
            }
        }
    
        
    }


    
    .inner-container{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        ul{
            li{
                list-style: none;
                text-align: center;
            }
        }

        img{
            height: 200px;
            width: 200px;
        }
    }
    
}


.about-us-container{
    background-image: url('../images/hm-bg-1.png') !important;
    background-size: 100% 100%;
    margin-top: 0px !important;


    .inner-container{
        height: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1050px;
    }
    .container{
        .row{
        height: 370px;

        .imgCol{
            display: flex;
            align-items: center !important;
            justify-content: center;
            img{
                width: 326.73px;
                height: 276px;
            }
        }

        .col-md-8.col-12{
            color: white;
            ul{
                width: 100%;
                
            }
        }
        }
    }
    
}

@media (max-width:768px) {
    .about-us-container{
        background-image: url('../images/hm-bg-1.png') !important;
        background-size: 100% 100%;
        margin-top: 0px !important;
    
    
        .inner-container{
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1050px;
    
            
        }
        .container{
            .row{
            height: fit-content;
    
            .imgCol{
                display: flex;
                align-items: center !important;
                justify-content: center;
                img{
                    width: 326.73px;
                    height: 276px;
                }
            }
    
            .col-md-8.col-12{
                color: white;
                ul{
                    display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                }
            }
            }
        }
        
    }
}

@media (max-width:400px) {
    .about-us-container{
        // background-image: url('../asset/') !important;
        background-size: cover;

    
        .inner-container{
            height: fit-content !important;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            .col-md-4{
                overflow: hidden;
                img{
                    height: 300px;
                    width: 300px;
                }
            }
        }

        .container{
            .row{
    
            height: fit-content;

           .col-md-8{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                width: 147px;
                text-align: center;
                li{
                    margin: 13px auto !important;
                }
                
            }
           }
            }
        }
        
    }
}



.course-container{
    .card-body{
    height: 430px;
    }
    .slide-arrow.prev-arrow{
       
    }
    .slick-prev:before {
        content: "🡸";
        color: white;
        font-size: 25px;
      }
      
      .slick-next:before {
        content: "🡺";
        color: white;
        font-size: 25px;
      }
      

    .slick-prev.slick-arrow {
        background-color: #FF7731;
        position: absolute;
        left: 0px;
        top: 40%;
        z-index: 5;
        height: 60px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:  0px 5px 5px 0px   ;
        
        }
        .slick-next.slick-arrow {
        background-color: #FF7731;
        border-radius:   5px 0px 0px 5px  ;

        top: 40%;
        z-index: 5;
        position: absolute;
        right: 0px;

        height: 60px;
        width: 40px;

        display: flex;
        justify-content: center;
        align-items: center;


        }
        
    //     .slick-next:before,
    //     .slick-prev:before {
    //     color: #FF7731 !important;
    //     font-size: 40px;
    //     border-radius: 50%;
    //     }

    //     .slick-next,
    //     .slick-prev {
        

    //     background-color: transparent !important;
    //     color: #FF7731 !important;
    //     }

        
}


.faq-container{
    .row{
        .col-L{
            height: 430px;
            padding: 100px;
            background: linear-gradient(180deg, #FF7731 0%, #FFC271 100%);

            .imgBox{
                width: 143px;
                height: 143px;
                // background: #FFFFFF;
                // box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
                // border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .col-R{
            height: 430px;
            padding: 100px;
            position: relative;
            background-image: url('../asset/star.png');
            .cards-wrapper-box{
                position: absolute;
                left: -100px;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                
               
                .card-body{
                    width: 247px;
                    height: 99px;
                    padding: 18px;

                    .iconBox{
                       i{
                        width: 52px;
                        height: 52px;
                        background: #DDF6EF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                       }
                    }

                    .paraBox{
                       
                                .title-tag{
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 19px;
                                    margin: 5px 0px;
                                }

                                .paraBox{
                                    margin: 5px 0px;
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 16px;
                                    color: #000000;
                                }
                         
                    }

                }
            }
        }
    }
}
@media (max-width:1220px) {
    .faq-container{
        .row{
            .col-L{
                height: 430px;
                padding: 50px;
                background: linear-gradient(180deg, #FF7731 0%, #FFC271 100%);
    
                .imgBox{
                    width: 143px;
                    height: 143px;
                    // background: #FFFFFF;
                    // box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
                    // border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
    
            .col-R{
                height: 637px;
                padding: 50px;
                position: relative;
                background-image: url('../asset/star.png');
                .cards-wrapper-box{
                    position: absolute;
                    left: auto;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    
                   
                    .card-body{
                        width: auto;
                        height: 99px;
                        padding: 18px;
    
                        .iconBox{
                           i{
                            width: 52px;
                            height: 52px;
                            background: #DDF6EF;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                           }
                        }
    
                        .paraBox{
                           
                                    .title-tag{
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 19px;
                                    }
    
                                    .paraBox{
                                        font-weight: 400;
                                        font-size: 13px;
                                        line-height: 16px;
                                        color: #000000;
                                    }
                             
                        }
    
                    }
                }
            }
        }
    } 
}

@media (max-width:768px) {
    .faq-container{
        .row{
            .col-L{
                height: 400px;
                padding: 20px;
                background: linear-gradient(180deg, #FF7731 0%, #FFC271 100%);
               .card-body{
                flex-direction: column;
                .imgBox{
                    width: 100px;
                    height: 100px;
                    // background: #FFFFFF;
                    // box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
                    // border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
               }
    
               
            }
    
            .col-R{
                height: 400px ;
                padding: 100px;
                position: relative;
                .cards-wrapper-box{
                    position: absolute;
                    left: auto;
                    top: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                   
                    .card-body{
                        width: auto;
                        height: 44px;
                        padding: 18px;
                        
    
                        .iconBox{
                           i{
                            width: 20px;
                            height: 20px;
                            background: #DDF6EF;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            font-size: 12px;
                           }
                        }
    
                        .paraBox{
                           
                                    .title-tag{
                                        font-weight: 600;
                                        font-size: 8px;
                                        line-height: 16px;
                                    }
    
                                    .para-tag{
                                        font-weight: 400;
                                        font-size: 6px !important;
                                        line-height: 0px;
                                        color: #000000;
                                    }
                             
                        }
    
                    }
                }
            }

        }
    }
}


@media (max-width:400px) {
    .faq-container{
        .row{
            .col-L{
                height: 300px;
                padding: 20px;
                background: linear-gradient(180deg, #FF7731 0%, #FFC271 100%);
               .card-body{
                flex-direction: column;
                .imgBox{
                    img{
                        width: 60px;
                    height: 77px;
                    }
                  
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .paraBox{
                    ul{
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                            .para-tag{
                                font-size: 10px !important;
                            }
                    }
                }
               }
    
               
            }
    
            .col-R{
                height: 225px;
                padding: 100px;
                position: relative;
                .cards-wrapper-box{
                    position: absolute;
                    left: auto;
                    top: auto;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                   
                    .card-body{
                        width: auto;
                        height: 44px;
                        padding: 18px;
                        
    
                        .iconBox{
                           i{
                            width: 20px;
                            height: 20px;
                            background: #DDF6EF;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            font-size: 12px;
                           }
                        }
    
                        .paraBox{
                           
                                    .title-tag{
                                        font-weight: 600;
                                        font-size: 8px;
                                        line-height: 16px;
                                    }
    
                                    .para-tag{
                                        font-weight: 400;
                                        font-size: 6px !important;
                                        line-height: 0px;
                                        color: #000000;
                                    }
                             
                        }
    
                    }
                }
            }

        }
    }
}


.testimonial-container{
    .container-inner{}
    .slider3{
        .col-md-4{
            .card-body{
                
            }
        }
    }
}
@media (max-width:500px) {
    .testimonial-container{
        .container-inner{
        }
        .slider3{
            .col-md-4{
                .card-body{
                    ul{
                        li{}
                        .rate-box{

                        }
                        .text-gray{
                            font-weight: 400;
                            font-size: 8px;
                            line-height: 10px;
                        }

                        .comment-profile{
                            display: flex;
                            flex-direction: column;
                            justify-content: start;
                            .imgBox{
                                img{
                                    height: 33px;
                                    width: 33px;
                                }
                            }
                            .paraBox{
                                .title-tag{
                                    font-size: 11px;
                                }
                                .para-tag-2{
                                    font-size: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.footer-container{
    background-image: linear-gradient(66.68deg, #7D7D7D -0.01%, #E3743B 95.03%, #2CEDB2 122.24%, #12FC7E 122.25%, #0DFF75 122.25%, #50D9F9 122.25%, #33E9C1 122.25%);
    .logoBox{
       
        img{
            z-index: 100;
            opacity: 1;

        }
    }
}



/* navbar-main */
.navbar-main{
    height: 116px;
    .col-12{
     display: flex;
     justify-content: start;
     align-items: center;   
     
     .logoBox{
        width: auto;
        img{
            height: 51px;
            width: 160px;
        }
    }
     .search-box{
        width: 254px;
        margin-left: 32px;
        margin-right: 70px;
        display: flex;
        position: relative !important;

        input, button{
            background: #FFFFFF;
            border: none;
            border-radius: 0;
            height: 41px;
            z-index: 1;
        }

        input{
            border-right: 0px;
            box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
            // width: 222px;
        width: 254px;
        outline: none;
        padding: 10px;
        color: #00000091;
       

        }
        i{
            position: absolute;
            z-index: 2;
            right: 20px;
            top: 25%;
            cursor: pointer;
            color: #000000;
            opacity: 0.5;
        }

        // button{
        //     border-right: 0px;
        //     // box-shadow: 0px 4px rgba(156, 156, 156, 0.25);
        //     box-shadow: 0 6px 2px -6px rgba(156, 156, 156, 0.25);
        //     width: 40px;
        //     i{
        //         color: #000000;
        //         opacity: 0.5;
        //     }
        // }
    }

    ul{
        height: 70px;
        margin-top: 10px;
        

        li{
            margin: auto 20px;
            position: relative;
           a{
            font-size: 16px;
            font-weight: 600;
           }
            // i{
            //     background: #FFFEFE;
            //     border: 1px solid rgba(0, 0, 0, 0.3);
            //     box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
            //     height: 50px;
            //     width: 50px;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     border-radius: 50%;
            //     cursor: pointer;
            //     color: #000000;
            //     opacity: 0.5;
            // }
            i{
               position: absolute;
               margin-left: 4px;
               cursor: pointer;
               padding-bottom: 5px;
               
            }

            .dd-hov:hover{
                .dd-hov-content{
                    display: block;
                }
            }
    

            .dd-hov-content{
                display: none;
                background-color: white;
                width: 200px;
                position: absolute ;
                top: 20px;
                left: 0;
                box-shadow: 0px 4px 4px #EE8047;
                z-index: 10;

                .hov-content{
                    ul{
                 
                    li{
                        a{
                            font-weight: 500;
                            font-size: 13px;
                            line-height: 16px;  
                            color: black;
                        }
                    }
                }

                .imgBox{
                  
                    width: 50%;


                    img{
                        height: 80px;
                        width: 80px;
                    
                    }
            
                    button{
                        a{
                            text-decoration: none;
                            color: white;
                            font-size: 10px;
                        }
                    }
                }
            }
            }

          



            .contact-btn{
                width: 145px;
                height: 50px;
                background: #FF7731;
                box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
                border-radius: 59px;
                a{
                    font-size: 14px;
                }
            }
        }


    }

    }
}

@media (max-width:1220px) {
    .navbar-main{
        height: 116px;
        .nav-L{
            .logoBox{
                width: auto;
                img{
                    height: 70px;
                    width: 170px;
                }
            }
            .search-box{
                width: 260px;
                display: flex;
                flex-direction: row;
    
                input, button{
                    background: #FFFFFF;
                    border: none;
                    border-radius: 0;
                    height: 41px;
                    
                }
                input{
                    border-right: 0px;
                    box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
                    width: 200px !important;
    
                }
                button{
                    width: 60px !important;
                    border-right: 0px;
                    box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
    
                }
            }
        }
        .nav-R{
            ul{
                height: 70px;
                margin-top: 10px;
    
                li{
                    font-size: 14px;
                    i{
                        background: #FFFEFE;
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
                        height: 50px;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        cursor: pointer;
                        color: #000000;
                        opacity: 0.5;
                    }
                }
    
            }
        }


        .col-12{
            display: flex;
            justify-content: space-between;
            align-items: center;   
            
            .logoBox{
               width: auto;
               img{
                   height: 70px;
                   width: 150px;
               }
           }
            .search-box{
               margin-left: 50px;
               margin-right: 50px;
               display: flex !important;
               width: 200px;

       
               input, button{
                   background: #FFFFFF;
                   border: none;
                   border-radius: 0;
                   height: 41px;
                   z-index: 1;
       
                   
               }
               input{
                   border-right: 0px;
                   box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
                   width: 200px;


               }
            //    button{
            //        border-right: 0px;
            //        box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
            //        width: 40px;
       
            //    }
           }
       
           ul{
               height: 70px;
               margin-top: 10px;
               
       
               li{
                   margin: auto 8px;
                   font-size: 14px !important;

                   i{
                       background: #FFFEFE;
                       border: 1px solid rgba(0, 0, 0, 0.3);
                       box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
                       height: 50px;
                       width: 50px;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       border-radius: 50%;
                       cursor: pointer;
                       color: #000000;
                       opacity: 0.5;
                   }

                   .contact-btn{
                    width: 100px;
                height: 40px;
                background: #FF7731;
                box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
                border-radius: 59px;
                font-size: 10px;
                   }
               }
       
           }
       
           }
    }
}


@media (max-width:768px) {
    .navbar-main{
        height: 80px;

        .col-12{
            display: flex;
            justify-content: space-between;
            align-items: center;   
            
            .logoBox{
               width: auto;
               img{
                   height: 24px;
                   width: 71px;
               }
           }
            .search-box{
                width: 178px;
                height: 26px;
                margin-left: 20px;
                margin-right: 32px;
                display: flex !important;
       
               input, button{
                   background: #FFFFFF;
                   border: none;
                   border-radius: 0;
                   height: 26px;
                   z-index: 1;
       
                   
               }
               input{
                   border-right: 0px;
                   box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
                   width: 178px;

                  
               }
               i{
                position: absolute;
                z-index: 2;
                right: 10px;
                top: 25%;
                cursor: pointer;
                color: #000000;
                opacity: 0.5;
            }
           }
       
           ul{
               height: 70px;
               margin-top: 10px;
               
       
               li{
                   margin: auto 8px;
                   i{
                       background: #FFFEFE;
                       border: 1px solid rgba(0, 0, 0, 0.3);
                       box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
                       height: 50px;
                       width: 50px;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       border-radius: 50%;
                       cursor: pointer;
                       color: #000000;
                       opacity: 0.5;
                   }
               }
       
           }
       
           }
           
    }
}






.dropdown-menu{
    height: fit-content !important;
}


/* icon */

.i-x{
margin-right: 10px;
}