@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.smoother {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* container */
.container {
  max-width: 1161px !important;
}

@media (max-width: 1160px) {
  .container {
    padding: 20px;
  }
}

.container-inner {
  max-width: 1050px;
  margin: auto;
}

/* button */
.btn-all {
  color: #FFFFFF;
  padding: 15px 20px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  height: 50px;
  background: #FF7731;
  -webkit-box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
          box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
  border-radius: 59px;
}

.btn-tp-bb {
  color: #FF7731;
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.btn-tp-bb span {
  border-bottom: 2px solid #FF7731;
}

.btn-sec {
  width: 127px;
  height: 53px;
  background: #FF7731;
  -webkit-box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
          box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  border: none;
  color: #FFFFFF;
}

.btn-sm {
  background: #FF7731;
  -webkit-box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
          box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
  border-radius: 59px;
  font-weight: 800;
  font-size: 10px;
  color: #FFFFFF;
  border: none;
  min-width: 90px;
  height: 30px;
}

@media (max-width: 400px) {
  .btn-all {
    width: 81px !important;
    height: 25px;
    background: #FF7731;
    border-radius: 13px;
    -webkit-box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
            box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
    font-weight: 800;
    font-size: 6px;
    line-height: 7px;
    color: #FFFFFF;
    border: none;
  }
  .btn-sec {
    background: #FF7731;
    -webkit-box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
            box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
    width: 60px;
    height: 24px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    border: none;
    color: #FFFFFF;
  }
}

/* card body */
.card-body {
  border-radius: 10px;
}

/* color */
.tx-orange {
  color: #FF7731;
}

.bg-orange {
  background-color: #FF7731;
}

.tx-green {
  color: #1DC295;
}

.bg-green {
  background-color: #DDF6EF;
}

.tx-blue {
  color: #6857FF;
}

.bg-blue {
  background-color: #E8E6FF !important;
}

.tx-red {
  color: #C32437;
}

.bg-red {
  background-color: #FDE4E7 !important;
}

.tx-lt-oranger {
  color: #FF7731;
}

.bg-lt-oranger {
  background-color: #FFC271 !important;
}

.tx-gray {
  color: #818181;
}

.bg-gray {
  background-color: #818181;
}

.tx-gray-2 {
  color: #F5F5F5;
}

.bg-gray-2 {
  background-color: #F5F5F5;
}

/* hr */
.hr-all {
  height: 2px;
  opacity: 0.5;
}

/* margin */
.sp-100 {
  margin: 100px auto;
}

.sp-65 {
  margin: 65px auto;
}

.sp-50 {
  margin: 50px auto;
}

.sp-15 {
  margin: 15px auto;
}

.sp-30 {
  margin: 30px auto;
}

.sp-80 {
  margin: 80px auto;
}

@media (max-width: 768px) {
  .sp-100 {
    margin: 50px auto;
  }
  .sp-65 {
    margin: 45px auto;
  }
  .sp-50 {
    margin: 20px auto;
  }
  .sp-80 {
    margin: 50px auto;
  }
  .sp-30 {
    margin: 20px auto;
  }
}

@media (max-width: 400px) {
  .sp-100 {
    margin: 50px auto;
  }
  .sp-65 {
    margin: 25px auto;
  }
  .sp-50 {
    margin: 20px auto;
  }
  .sp-80 {
    margin: 30px auto;
  }
}

/* box-shadow */
.noshadow {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.cr-sd-1 {
  -webkit-box-shadow: 0px 4px 4px #DD717C;
          box-shadow: 0px 4px 4px #DD717C;
}

.cr-sd-2 {
  -webkit-box-shadow: 0px 4px 4px #CE6732;
          box-shadow: 0px 4px 4px #CE6732;
}

.cr-sd-3 {
  -webkit-box-shadow: 0px 4px 4px #44DEB4;
          box-shadow: 0px 4px 4px #44DEB4;
}

.tm-sd {
  background: radial-gradient(48.66% 48.66% at 49.97% 50%, #F1E9E9 47%, #5FCDAF 55.23%, #FFFFFF 100%);
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  opacity: 0.5;
}

.pf-sd {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.feature-card-sd {
  -webkit-box-shadow: 0px 4px 4px rgba(250, 164, 120, 0.25);
          box-shadow: 0px 4px 4px rgba(250, 164, 120, 0.25);
}

.course-sd {
  -webkit-box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.22);
          box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.22);
}

/* radius */
.r-5 {
  border-radius: 5px;
}

.r-10 {
  border-radius: 10px;
}

/* font family */
.font-2 {
  font-family: 'Chewy', cursive;
}

/* font size */
.font-30-700 {
  font-weight: 700;
  font-size: 30px;
  line-height: 29px;
}

.font-24-700 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.font-22-700 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.title-tag {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.font-lg {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.font-18 {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.font-18-700 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.font-18-400 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.font-para {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
}

.font-16 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.font-16-600 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.font-sm {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.font-15 {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
}

.font-14 {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.font-14-400 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.font-lt {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.font-12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.font-10 {
  font-size: 10px;
}

.font-star {
  font-size: 10px;
}

@media (max-width: 400px) {
  .font-24-700 {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
  }
  .font-22-700 {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
  }
  .font-18-700 {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
  }
  .font-lg {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
  }
  .font-18 {
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
  }
  .font-para {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
  }
  .font-16 {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
  }
  .font-16-600 {
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
  }
  .font-sm {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .font-15 {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
  }
  .font-14 {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
  }
  .font-14-400 {
    font-weight: 400;
    font-size: 6px;
    line-height: 8px;
  }
  .font-lt {
    font-weight: 400;
    font-size: 14px !important;
    line-height: 17px;
  }
  .font-10 {
    font-size: 5px;
  }
  .font-star {
    font-size: 4px;
  }
}

/* a href */
a {
  text-decoration: none;
}

/* border */
.bd-1 {
  opacity: 0.2;
  border-bottom: 1px solid #FFFFFF;
}

.bd-l {
  border-left: none !important;
}

.bd-r {
  border-right: none !important;
}

/* padding */
@media (max-width: 768px) {
  .pd-sm {
    padding: 20px !important;
  }
}

/* cursor pointer */
.cursor-pointer {
  cursor: pointer;
}

/* accordian */
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* custome checkbox */
/* The radio-wrapper */
.radio-wrapper {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* Hide the browser's default radio button */
.radio-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid #FF7731;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(216, 185, 185, 0.25);
          box-shadow: 0px 4px 4px rgba(216, 185, 185, 0.25);
}

/* On mouse-over, add a grey background color */
.radio-wrapper:hover input ~ .checkmark {
  background-color: #FF7731;
}

/* When the radio button is checked, add a blue background */
.radio-wrapper input:checked ~ .checkmark {
  background-color: white;
  border: 0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-wrapper .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FF7731;
}

/* width */
.w-15 {
  width: 22%;
}

.w-50 {
  width: 50%;
}

@media (max-width: 768px) {
  .w-15 {
    width: auto;
  }
  .w-50 {
    width: 100% !important;
  }
}

/* mobile slider */
.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: white !important;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .accordion .accordion-item .accordion-header .accordion-button {
  background-color: transparent;
  padding: 0;
  font-size: 25px;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sidenav .accordion .accordion-item .accordion-header .accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.sidenav .accordion .accordion-item .accordion-collapse .accordion-body {
  background-color: #FF7731;
  padding: 0;
}

.sidenav .accordion .accordion-item .accordion-collapse .accordion-body ul {
  margin-top: 0px;
  padding: 5px;
}

.sidenav .accordion .accordion-item .accordion-collapse .accordion-body ul li {
  font-size: 16px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #FF7731;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* footer */
.footer-container .container .row .logoBox img {
  width: 207px;
  height: 71px;
}

.footer-container .container .row .col-md-3 input, .footer-container .container .row .col-md-2 input, .footer-container .container .row .col-md-4 input {
  height: 44px;
  width: 100%;
  border: 0;
}

.footer-container .container .row .col-md-3 input[type='submit'], .footer-container .container .row .col-md-2 input[type='submit'], .footer-container .container .row .col-md-4 input[type='submit'] {
  background-color: #FF7731;
  color: white;
}

@media (max-width: 768px) {
  .footer-container .container .row .logoBox {
    height: 40px !important;
    height: 114px !important;
  }
  .footer-container .container .row .logoBox img {
    height: 40px !important;
    height: 114px !important;
  }
  .footer-container .container .row .col-md-3 input, .footer-container .container .row .col-md-2 input, .footer-container .container .row .col-md-4 input {
    height: 44px;
    width: 100%;
    border: 0;
  }
  .footer-container .container .row .col-md-3 input[type='submit'], .footer-container .container .row .col-md-2 input[type='submit'], .footer-container .container .row .col-md-4 input[type='submit'] {
    background-color: #FF7731;
    color: white;
  }
}

/* video */
/* navbar dropdown */
.desktop-nav-dd .desktop-nav-dd-container {
  margin-top: -2px !important;
  width: 200px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px #EE8047;
          box-shadow: 0px 4px 4px #EE8047;
  border-radius: 0;
  border: 0px;
  height: 150px !important;
}

.desktop-nav-dd .desktop-nav-dd-container ul li a {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: black;
}

.desktop-nav-dd .desktop-nav-dd-container .imgBox img {
  height: 80px;
  width: 80px;
}

.desktop-nav-dd .desktop-nav-dd-container .imgBox button a {
  text-decoration: none;
  color: white;
}

.desktop-nav-dd:hover .dropdown-menu, .desktop-nav-dd-career:hover .dropdown-menu {
  display: block !important;
}

.desktop-nav-dd-career-container {
  margin-top: -2px !important;
  width: 200px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px #EE8047;
          box-shadow: 0px 4px 4px #EE8047;
  border-radius: 0;
  border: 0px;
}

.desktop-nav-dd-career-container li a {
  color: black;
}
/*# sourceMappingURL=main.css.map */